@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-primary: #16113a;
    --background-secondary: #272953;
    --background-disabled: #7b7b7b;
    --text-primary: #e8dddd;
    --text-secondary: #333;
    --text-error: #ff0000;
}

html,
body {
    line-height: 1.6;
    @apply h-full font-normal text-base m-0 p-0;
}

body {
    overflow: auto !important;
    color: var(--text-primary);
    background: var(--background-primary);
}

h1 {
  @apply text-left text-3xl m-4;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div#__next {
  @apply h-full flex flex-col;
}

.main-container {
  flex: 1;
}

/**Buttons**/
.buttonPrimary {
  @apply flex justify-center items-center text-textPrimary text-base font-semibold border-solid border border-textPrimary bg-bgsecondary m-auto mb-4 p-4 rounded-lg h-10 hover:text-white hover:border-white ;
}

.buttonSecondary {
  @apply flex justify-center items-center text-white text-base font-semibold border-none p-4 bg-bgsecondary m-auto mb-4 rounded-lg h-10 ;
}

/** INPUT */
.input {
  @apply text-sm p-2 text-textSecondary w-full rounded-md;
}